<DOCTYPE html>
    <html>

<h4>LOAN STATUS</h4>

<form action="/submit" methods=['post']>

<label for='ApplicantIncome'>Applicant Income:</label><br>
<input type="int" id='ApplicantIncome' name='ApplicantIncome' value=""><br>

<label for=' CoapplicantIncome'>Coapplicant Income:</label><br>
<input type="int" id='CoapplicantIncome' name='CoapplicantIncome' value=""><br>

<label for='Education_Graduate'>Education:</label><br>
<input type="text" id='Education_Graduate' name='Education_Graduate' value=""><br>

<label for='Self_Employed'>Self Employed:</label><br>
<input type="text" id='Self_Employed' name='Self_Employed' value=""><br>

<label for='Proerty_Area_Urban'>Property Area:</label><br>
<input type="text" id='Proerty_Area_Urban' name='Proerty_Area_Urban' value=""><br>

<label for='Credit_History'>Credit History:</label><br>
<input type="int" id='Credit_History' name='Credit_History' value=""><br>

<label for='LoanAmount'>Loan Amount :</label><br>
<input type="int" id='LoanAmount' name='LoanAmount' value=""><br>

<label for='Marrried'>Married:</label><br>
<input type="text" id='Married' name='Married' value=""><br>

<label for='Dependents'>:</label>Dependents<br>
<input type="int" id='Dependents' name='Dependents' value=""><br>


<label for='Gender'>Gender:</label><br>
<input type="text" id='' name='text' value=""><br>

<label for='Loan_AmountTerm'>Loan Amount Term:</label><br>
<input type="int" id='Loan_AmountTerm' name='Loan_AmountTerm' value=""><br>

<input type="submit" value='Submit'>
</form>












</form>
    </html>