<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head> 



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">




    <title>HOME LOAN STATUS</title>
  </head>
  
  <body>
    


<div class="container main">
  <div class="jumbotron" id="holder">
     <br>
       <center><b><h2 style="color:#FF0000";>{{ prediction_text}}</h2></b></center> 
     <br>
     <br>
    <center><h1 class='main_heading'> Home Loan Approval Prediction</h1></center>
    <br>


    
    <div class="instructions">
      <h4>Fill all required fields</h4>
         </div>



    <form class="form-horizontal" action="{{ url_for('predict')}}"method="post">



      <div class="form-group">
        <div class="col-sm-10">
          <input  class="form-control" type= "text" name="ApplicantIncome" placeholder="Your Income" required="required" />
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-sm-10">
          <input  class="form-control" type="text" name="CoaplicantIncome" placeholder="Guarantor Income" required="required" />
        </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10">
            <input  class="form-control" type="text" name="LoanAmountTerm" placeholder="Loan Amount Term In Years" required="required" />
          </div>
        </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Credit_History" required="required">
                <option value="0">Credit History:</option>
                <option value="1">yes</option>
                <option value="0">no</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number" name="Self_Employed" required="required">
                <option value="1">Self Employed:</option>
                <option value="0">yes</option>
                <option value="1">no</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number" name="Property_Area" required="required">
                <option value="1">Property_Area:</option>
                <option value="0">urban</option>
                <option value="0">semiurban</option>
                <option value="1">rural</option>
          </select>
        </div>
      </div>

       <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Married" required="required">
                <option value="0">Married:</option>
                <option value="1">yes</option>
                <option value="0">no</option>
          </select>
        </div>
      </div>

       <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Education" required="required">
                <option value="0">Education:</option>
                <option value="1">Graduate</option>
                <option value="0">not Graduate</option>
          </select>
        </div>
      </div>
    
       <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Gender" required="required">
                <option value="0">Gender:</option>
                <option value="1">male</option>
                <option value="0">female</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
         <center><button type="submit" class="button btn btn-default">PREDICT</button><center/>
        </div>
      </div>
    </form>

    

    <h2 class="result"></h2>

    <h6>c/o Fulufhelo khoza</h6>
  </div>
  </div>

  </body>
</html>
